/* REGOLE GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 50px;
    height: 50px;
    background-color: red;
    border: 2px solid black;
}

.row {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    border: 2px solid black;
}

ul li {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
}

.btn {
    background-color: rgba(0, 97, 254, 1);
    padding: 10px 20px;
}

header {
    background-color: hsla(206, 50%, 80%, 1);


}

.hero {
    background-color: beige;
    border: 2px solid black;
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

main {
    background-color: antiquewhite;
    border: 2px solid black;
    width: 60%;
    margin: 0 auto;
}

h1 {
    border: 2px solid black;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
}

.box {
    max-width: 40%;
    height: 300px;
    border: 2px solid black;

}

.img-box {
    flex-grow: 2;
    height: 300px;
    border: 2px solid black;
}

.box-card {
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.card {
    width: 32%;
    border: 2px solid black;
    height: 300px;
}

.up-card {
    border: 2px solid black;
    height: 50px;
}

.long {
    width: 100%;
}