/* REGOLE GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Regole Navigatore */

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    position: sticky;
    top: 0;
}

#logo {
    width: 100px;
    /*
    height: 50px; 
    background-color: red;
    border: 2px solid black; */
}

.row {
    display: flex;
    align-items: center;
    /* background-color: blueviolet;
    border: 2px solid black; */
}

ul li {
    display: inline-block;
    padding: 14px;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

li:hover {
    border-bottom: 2px solid black;
}

/* Bottoni */

.btn {
    background-color: rgba(0, 97, 254, 1);
    padding: 8px 15px;
    color: white;
}

.btn:hover {
    opacity: 0.5;
}

.contact {
    padding: 6px 70px;
}

/* Regole Header - Hero*/

header {
    background-color: hsla(206, 50%, 80%, 1);
}

.hero {
    /* background-color: beige;
    border: 2px solid black; */
    width: 65%;
    height: 600px;
    margin: 0 auto;
    padding: 5% 0;
}

h1 {
    font-size: 70px;
    /* border: 2px solid black; */
    width: 100%;
}

p {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 20px;
}

h3 {
    margin: 10px 0;
    font-size: 20px;
}

#test {
    margin-bottom: 30px;
}


#arrow {
    font-size: 40px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.box {
    max-width: 32%;
    /* height: 300px;
    border: 2px solid black; */
}

.img-box {
    flex-grow: 2;
    /* height: 300px;
    border: 2px solid black; */
}

.picture {
    width: 100%;
}

/* Regole Main */

main {
    /* background-color: antiquewhite; */
    /* border: 2px solid black; */
    width: 55%;
    margin: 50px auto;
}

h2 {
    font-size: 30px;
    margin: 40px 0;
}

/* Regole input */

#plan:first-of-type {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}


label {
    margin-right: 15px;
    line-height: 32px;
}

input {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

input:checked {
    border: 6px solid rgba(0, 97, 254, 1);
}


/* Regole delle card */

.box-card {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    /* height: 500px; */
}

.card {
    width: 30%;
    border: 1px solid rgb(219, 219, 219);
    /* height: 300px;    */
}

.up-card {
    border-bottom: 1px solid rgb(219, 219, 219);
    width: 100%;
    /* height: 50px; */
    text-align: center;
}

span {
    font-size: 12px;
    display: block;
    padding: 10px 0;
}

.content-card {
    padding: 20px;
}

.promo {
    height: 180px;
    margin-top: 30px;
}

.shop {
    text-decoration: underline blue;
    color: blue;
}

.text-shop {
    margin-top: 30px;
}

.fa-check {
    color: rgba(0, 97, 254, 1);
}

/* Regole Linea */

.line {
    margin: 30px 0;
    border-bottom: 1px solid rgb(108, 108, 108);
    width: 40px;
}

.big {
    width: 100%;
    height: 80px;
}

/* Card Team contact "ufficio vendite" */

.long {
    width: 100%;
    margin: 40px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.text-box {
    max-width: 65%;
}

.button-box {
    padding: 20px;
}

/* Sezione trova partner */

.partner {
    padding: 20px;
}

.transparent {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

/* Sezione Operazioni */

.no-bord {
    border: none;
}

/* Testo pre-footer */

.small {
    max-width: 60%;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    padding: 50px 0;
}

.foot-up {
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.foot-down {
    max-width: 70%;
    margin: 0 auto;
    align-items: start;
    padding: 30px;
}

#lingua {
    background-color: transparent;
    color: gray;
    border: none;
}

.fa-earth-americas {
    color: gray;
}